/* Colors */
/* Media Query */
.btn {
  color: #fff;
  padding: .9rem 1.8rem 1rem;
  font-size: 1rem;
  line-height: normal; }
  .btn:hover, .btn:focus {
    background-color: #57504f;
    color: #fff;
    border: 1px solid transparent;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .btn:focus {
    outline: 5px auto -webkit-focus-ring-color; }
  .btn--icon {
    margin-left: .3rem;
    padding: 12px 14px;
    background-color: transparent; }
    .btn--icon:hover, .btn--icon:focus {
      background-color: transparent; }
  .btn--primary {
    background-color: #6C6463; }
    .btn--primary:hover, .btn--primary:focus {
      background-color: #57504f;
      color: #fff;
      border: 1px solid transparent; }
  .btn--grey-light {
    background-color: #aaa; }
    .btn--grey-light:hover, .btn--grey-light:focus {
      background-color: #969696;
      color: #fff;
      border: 1px solid transparent; }
  .btn--white {
    background-color: #fff;
    color: #666; }
    .btn--white:hover, .btn--white:focus {
      background-color: #6C6463;
      color: #fff;
      border: 1px solid transparent; }
  .btn--outlined-primary {
    background-color: transparent;
    border: 1px solid #6C6463;
    color: #6C6463; }
    .btn--outlined-primary:hover, .btn--outlined-primary:focus {
      background-color: #57504f;
      color: #fff;
      border: 1px solid transparent; }
  .btn--outlined {
    background-color: transparent;
    border: 1px solid #666;
    color: #333; }
    .btn--outlined:hover, .btn--outlined:focus {
      background-color: #57504f;
      color: #fff;
      border: 1px solid transparent; }
  .btn--text {
    background-color: transparent;
    border: 1px solid transparent;
    color: #333; }
    .btn--text:hover, .btn--text:focus {
      background-color: #57504f;
      color: #fff;
      border: 1px solid transparent; }
  .btn--underlined {
    background-color: transparent;
    border-bottom: 1px solid #000;
    color: #000;
    padding: 1rem 0;
    border-radius: 0; }
    .btn--underlined:hover, .btn--underlined:focus {
      border-bottom: 1px solid #000;
      color: #6C6463;
      background-color: transparent; }
  .btn--rounded {
    border-radius: 500rem; }
  .btn--with-icon i {
    padding-left: .3rem;
    font-size: 1.1rem;
    position: relative;
    top: .1rem; }

.at-bg {
  position: relative; }
  .at-bg--overlay-test:before {
    background-color: #000;
    opacity: .7; }
  .at-bg--overlay:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }

.l-h-0 {
  line-height: 0; }

.o-h {
  overflow: hidden; }

.bg-none {
  background-color: transparent; }

.at-header {
  padding: 50px 0; }
  .at-header--style-two {
    padding: 0; }

.custom-header .at-hb-menu.open {
  position: fixed;
  top: 6%;
  right: 3%; }

.at-hb-menu {
  cursor: pointer;
  height: 25px;
  width: 30px;
  position: relative;
  z-index: 100;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }
  .at-hb-menu--icon {
    background-color: #333;
    position: absolute;
    height: 3px;
    top: 10px;
    width: 30px;
    z-index: 10;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out; }
    .at-hb-menu--icon:before, .at-hb-menu--icon:after {
      background-color: #333;
      content: '';
      height: 3px;
      position: absolute;
      width: 24px;
      right: 0;
      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out; }
    .at-hb-menu--icon:before {
      top: -10px;
      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out; }
    .at-hb-menu--icon:after {
      top: 10px;
      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out; }
  .at-hb-menu.open .at-hb-menu--icon {
    background: 0 0;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out; }
    .at-hb-menu.open .at-hb-menu--icon:before {
      background: #7CC6F2;
      top: -20px;
      -webkit-transform: rotateZ(45deg) scaleX(1.25) translate(13px, 13px);
              transform: rotateZ(45deg) scaleX(1.25) translate(13px, 13px); }
    .at-hb-menu.open .at-hb-menu--icon:after {
      background: #7CC6F2;
      top: 20px;
      -webkit-transform: rotateZ(-45deg) scaleX(1.25) translate(12px, -12px);
              transform: rotateZ(-45deg) scaleX(1.25) translate(12px, -12px); }

.at-ham-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
  font-size: 1.6rem; }
  .at-ham-navigation ul li a {
    display: block;
    padding: .4rem 1.8rem; }
  .at-ham-navigation ul ul {
    font-size: 1rem; }
    .at-ham-navigation ul ul li a {
      padding: .1rem 1.8rem; }

.at-search {
  width: 100%;
  height: 100%; }
  .at-search--form {
    width: 100%; }
    .at-search--form label, .at-search--form input {
      width: 100%; }
    .at-search--form input[type="search"] {
      border: 0 !important;
      font-size: 3rem;
      font-weight: 400; }
    .at-search--form input[type="search"]:focus {
      outline: none; }
  .at-search .btn--icon {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translate(-30px, 30px);
            transform: translate(-30px, 30px); }

.at-slider {
  margin: 0 0 60px; }

.at-banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  border-radius: 16px;
  height: 700px;
  width: 100%;
  position: relative; }
  @media only screen and (max-width: 768px) {
    .at-banner {
      height: 500px; } }
  .at-banner__info {
    border-radius: 16px;
    max-width: 700px;
    -webkit-transform: translateY(108px);
            transform: translateY(108px); }
    @media only screen and (max-width: 768px) {
      .at-banner__info {
        -webkit-transform: translateY(0);
                transform: translateY(0); } }
  .at-banner__title {
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.6; }
  .at-banner__content {
    padding-top: 1rem; }
  .at-banner__btn {
    padding-top: 1rem; }

.at-card {
  position: relative;
  width: calc(33.333333% - 60px);
  margin-right: 30px;
  margin-left: 30px;
  padding-bottom: 60px; }
  @media only screen and (max-width: 992px) {
    .at-card {
      width: calc(50% - 60px); } }
  @media only screen and (max-width: 576px) {
    .at-card {
      width: 100%; } }
  .at-card--block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: 0 -15px; }
  .at-card__image {
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 1.6rem; }
    .at-card__image img {
      width: 100%; }
  .at-card__header .entry-title {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 34px; }
  .at-card__header .entry-meta {
    margin-top: 1rem; }

.at-post__thumbnail {
  margin-top: 3rem;
  border-radius: 16px;
  overflow: hidden; }
  .at-post__thumbnail img {
    width: 100%; }

.at-search-default {
  position: relative; }
  .at-search-default label, .at-search-default .search-field {
    width: 100%; }
  .at-search-default .search-field {
    padding-left: 38px;
    height: 46px; }
  .at-search-default .search-field::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #aaa; }
  .at-search-default .search-field::-moz-placeholder {
    /* Firefox 19+ */
    color: #aaa; }
  .at-search-default .search-field:-ms-input-placeholder {
    /* IE 10+ */
    color: #aaa; }
  .at-search-default .search-field:-moz-placeholder {
    /* Firefox 18- */
    color: #aaa; }
  .at-search-default .at-icon {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(15px, 15px);
            transform: translate(15px, 15px);
    width: 16px;
    height: 16px;
    fill: #aaa; }

.at-footer__widget {
  background-color: #f8f8f8;
  padding-top: 4rem; }

.at-footer--block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 -30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.at-footer__item {
  position: relative;
  width: calc(33.333333% - 60px);
  margin-right: 30px;
  margin-left: 30px; }
  @media only screen and (max-width: 768px) {
    .at-footer__item {
      width: 100%; } }
  .at-footer__item .widget {
    margin-bottom: 2.8rem; }

.at-footer__bottom {
  background-color: #fff;
  padding: .8rem 0; }

.at-scroll-top {
  position: fixed;
  right: -10px;
  bottom: 15px;
  z-index: 111;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
  -webkit-transform: rotate(-90deg) translate(50%, 100%);
          transform: rotate(-90deg) translate(50%, 100%);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }
  .at-scroll-top .at-icon {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
  .at-scroll-top span {
    padding-right: 1rem; }
  .at-scroll-top.show {
    opacity: 1;
    right: 15px;
    visibility: visible;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out; }

.wpcf7-form p label {
  width: 100%;
  color: #333; }

.wpcf7-form p {
  padding-bottom: 8px;
  margin-bottom: 0; }

input.wpcf7-form-control {
  width: 100%;
  padding: 6px 8px;
  font-size: 14px; }

input.wpcf7-submit {
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
  border: 0 !important;
  padding: 16px !important;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  width: 200px; }

input.wpcf7-submit:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff !important;
  background-color: #6C6463 !important;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }

/*modal css*/
.modal-backdrop {
  background-color: #fff; }

.modal-dialog--left {
  margin: 0; }
  .modal-dialog--left-content {
    height: 100%; }

.modal.show .modal-dialog {
  -webkit-transform: none !important;
          transform: none !important; }

.modal-dialog--cover {
  margin: 0;
  width: 100%;
  max-width: 100%;
  height: 100%; }
  .modal-dialog--cover .modal-content {
    border-radius: 0;
    height: 100%; }

.main-navigation li.menu-item-has-children a {
  padding-right: 1rem; }

.main-navigation li.menu-item-has-children:after {
  content: '\f078';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  position: absolute;
  right: 21px;
  top: 19px;
  font-size: 14px;
  cursor: pointer;
  color: #999; }

.main-navigation li.current-menu-item a {
  border-bottom: 3px solid #6C6463; }

/*--------------------------------------------------------------
  # Widgets
  --------------------------------------------------------------*/
.widget {
  margin: 0 0 4rem;
  /* Make sure select elements fit in widgets. */ }
  @media only screen and (max-width: 992px) {
    .widget {
      margin: 0 0 2.6rem; } }

.at-content__secondary .widget:last-child {
  margin-bottom: 0; }

.widget select {
  max-width: 100%; }

/*=============================================
=            Default Widgets            =
=============================================*/
h2.widget-title {
  font-size: 1.8rem;
  display: inline-block;
  background: #333;
  color: #fff;
  padding: 8px 14px;
  margin-bottom: 1.6rem;
  font-weight: 400; }

.widget li {
  padding: 10px 0;
  position: relative; }
  @media only screen and (max-width: 992px) {
    .widget li {
      padding: 6px 0; } }

.calendar_wrap {
  padding: 8px 0; }

.textwidget {
  word-wrap: break-word;
  line-height: 24px; }

.calendar_wrap td {
  border: 1px solid #ccc;
  text-align: center;
  font-size: 14px;
  padding: 8px;
  color: #333; }

.calendar_wrap th {
  border: 1px solid #ccc;
  text-align: center;
  font-size: 14px;
  padding: 8px; }

.calendar_wrap caption {
  border-top: 0;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  padding: 8px;
  text-align: center; }

.calendar_wrap td a {
  color: #6C6463;
  text-decoration: none; }

#today {
  background: #6C6463;
  color: #fff; }

#today:hover {
  background: #6C6463; }

span.post-date {
  color: #999;
  padding-left: 4px; }

/*=====  End of Default Widgets  ======*/
/*=============================================
=                 Single Page                 =
=============================================*/
.at-page-title {
  text-align: center; }
  .at-page-title h1, .at-page-title h2 {
    font-size: 3rem;
    margin-bottom: 0; }

.entry-header h1 {
  font-size: 3rem; }

.page .post-thumbnail {
  display: block;
  border-radius: 16px;
  margin-bottom: 2rem;
  overflow: hidden; }

footer.entry-footer {
  padding: 1rem 0 2rem; }

.edit-link {
  position: relative; }

a.post-edit-link {
  display: inline-block; }

a.post-edit-link:hover {
  color: #6C6463; }

.home .navigation.posts-navigation {
  margin-bottom: 4rem; }

.at-pagination {
  margin: 0 15px 3rem; }
  .at-pagination--home .nav-links {
    border-top: none;
    padding: 0; }
  .at-pagination a {
    color: #999; }

.at-pagination .page-numbers {
  display: inline-block;
  padding: 0 8px;
  font-size: 1.1rem; }

.page-numbers.current {
  color: #333; }

.page-numbers.current:after {
  background-color: #333;
  content: '';
  height: 1px;
  position: relative;
  width: 60px;
  display: inline-block;
  left: 8px;
  top: -5px; }

/*=====  End of Single Page  ======*/
/*=============================================
=                 Single Post                 =
=============================================*/
.entry-meta {
  margin-top: 2rem; }
  @media only screen and (max-width: 992px) {
    .entry-meta {
      margin-top: 1.2rem; } }

.entry-meta span:not(:first-child) {
  padding-left: 2rem; }
  .entry-meta span:not(:first-child) .author {
    padding-left: 0; }

.nav-links {
  border-top: 1px solid #ccc;
  padding: 2rem 0;
  display: inline-block;
  width: 100%;
  letter-spacing: .03rem; }

.nav-previous a,
.nav-next a {
  color: #333;
  font-size: 1.8rem;
  line-height: 1.4; }

.nav-previous a:hover,
.nav-next a:hover {
  color: #6C6463; }

.nav-previous:before,
.nav-next:before {
  font-size: 1.4rem;
  color: #aaa;
  display: block;
  padding-bottom: .2rem;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }

.nav-previous a:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f053  Previous Post';
  display: block;
  color: #aaa;
  font-size: .9rem;
  padding-bottom: .5rem;
  text-transform: uppercase; }

.nav-next a:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: 'Next Post \f054';
  display: block;
  color: #aaa;
  font-size: .9rem;
  padding-bottom: .5rem;
  text-transform: uppercase; }

/*=====Author Detail========*/
.author_wrapper {
  background: #eee;
  padding: 14px;
  margin-bottom: 20px; }

.pm_author_info_wrap {
  float: right;
  width: 84%; }

.single_author_inner:after {
  content: '';
  display: block;
  clear: both; }

/*=============================================
=                 Default Comments                 =
=============================================*/
h2.comments-title {
  margin-bottom: 2rem;
  font-size: 1.6rem; }
  h2.comments-title span {
    color: #666; }

article.comment-body {
  margin-bottom: 8px; }

footer.comment-meta:after {
  content: '';
  display: block;
  clear: both; }

.comment-author.vcard {
  font-size: 1.2rem;
  padding-bottom: 6px; }

.comment-author.vcard img {
  float: left;
  width: 80px;
  margin-right: 12px; }

.comment-content {
  background: #f9f9f9;
  margin-top: 2rem; }

.comment-content p {
  margin: 0;
  color: #999;
  padding: 1.6rem;
  line-height: 2; }

.comment-body .reply {
  margin-bottom: 1.2rem;
  padding-top: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.comment-body .reply a {
  color: #999; }
  .comment-body .reply a:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f3e5';
    color: #aaa;
    font-size: .9rem;
    padding-right: .3rem; }

.comment-notes {
  color: #999;
  font-size: 14px; }

.comment-body .reply a:hover {
  color: #666;
  opacity: 1; }

a.comment-edit-link,
a.post-edit-link {
  color: #666; }
  a.comment-edit-link:before,
  a.post-edit-link:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f044';
    color: #aaa;
    font-size: .9rem;
    padding-right: .3rem; }

.comment-metadata a {
  color: #999;
  padding-right: 1.2rem; }

.comment-metadata a:hover {
  color: #6C6463; }

h3#reply-title {
  font-size: 2rem;
  text-transform: uppercase; }

.comment-reply-title small {
  padding-left: 2rem; }
  .comment-reply-title small a {
    color: #6C6463; }

.comment-form label {
  display: block; }

.comment-form-cookies-consent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.comment-form-cookies-consent input {
  -webkit-transform: translateY(11px);
          transform: translateY(11px); }

.comment-form-cookies-consent label {
  padding-left: .6rem; }

p.comment-form-comment label {
  padding-bottom: 10px; }

input.submit {
  background: #333;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
  color: #fff;
  border: 0;
  margin: 14px 0;
  padding: 14px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }

input.submit:hover {
  background: #6C6463;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff; }

/*=====  End of Default Comments  ======*/
/*=====  End of Single Post  ======*/
.page-header .page-title {
  border-bottom: 3px solid #333;
  padding-bottom: 2rem; }
  .page-header .page-title span {
    color: #7CC6F2; }

.archive article,
.search article,
.home.blog article {
  padding: 2rem 0 2rem; }
  .archive article:first-child,
  .search article:first-child,
  .home.blog article:first-child {
    border-top: none;
    padding-top: 0; }

/*Custom CSS*/
.entry-title a {
  color: #333;
  text-decoration: none; }

.entry-title a:hover {
  color: #6C6463;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in; }

.entry-meta .byline {
  text-transform: capitalize;
  color: #999;
  font-size: 1rem; }

.cat-links a {
  color: #333; }

.comments-link {
  position: relative; }

.comments-link a {
  color: #333; }

.author a {
  color: #333;
  text-decoration: none; }

.posted-on a {
  color: #999;
  text-decoration: none; }

.site-info a {
  color: #333; }

.site-info a:hover {
  color: #6C6463;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in; }

ol.comment-list {
  margin: 0 0 2rem 0; }

.widget ul {
  margin: 0 0 1.5em 0;
  list-style: none;
  padding: 0; }

.widget ul li a {
  color: #333;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in; }

.widget ul li a:hover {
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  color: #6C6463; }

.widget li
.comments-area .form-submit,
.comments-area .form-submit .submit {
  margin: 0; }

article .entry-summary p {
  margin-bottom: 0; }

.archive-description {
  padding-top: 1rem; }
  .archive-description p {
    margin-bottom: 0;
    line-height: 2; }

.comments-area input[type="text"], .comments-area input[type="email"], .comments-area input[type="url"], .comments-area input[type="password"], .comments-area input[type="search"], .comments-area input[type="number"], .comments-area input[type="tel"], .comments-area input[type="range"], .comments-area input[type="date"], .comments-area input[type="month"], .comments-area input[type="week"], .comments-area input[type="time"], .comments-area input[type="datetime"], .comments-area input[type="datetime-local"], .comments-area input[type="color"], .comments-area textarea {
  width: 100%; }

.entry-content > * {
  margin-left: auto;
  margin-right: auto; }

.entry-content ol, .entry-content ul {
  line-height: 2.4; }

.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6 {
  line-height: 1.6;
  margin-bottom: 1.6rem;
  margin-top: 0; }

.entry-content figure, .entry-content hr {
  margin: 2em 0; }

.entry-content a {
  color: #007bff;
  text-decoration: underline; }
  .entry-content a:hover {
    text-decoration: underline; }

.entry-content .tags-links {
  padding-top: 1.5rem;
  display: block;
  margin-bottom: 1.5rem;
  color: #999; }
  .entry-content .tags-links a {
    color: #333;
    background-color: #f3f3f3;
    padding: .8rem 1rem;
    border-radius: 3px;
    text-decoration: none;
    margin-left: 1rem; }
  .entry-content .tags-links a:hover {
    background-color: #6C6463;
    color: #fff; }

.entry-content p {
  line-height: 2.2; }

.entry-content img {
  border-radius: 16px;
  width: 100%; }

.at-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -30px;
  margin-right: -30px; }
  @media only screen and (max-width: 992px) {
    .at-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .at-content__primary, .at-content__secondary {
    margin-top: 60px;
    padding-left: 30px;
    padding-right: 30px; }
    @media only screen and (max-width: 992px) {
      .at-content__primary, .at-content__secondary {
        margin-top: 30px; } }
  .at-content__block, .at-content__sidebar {
    padding-left: 30px;
    padding-right: 30px; }
  @media only screen and (max-width: 992px) {
    .at-content__sidebar {
      margin-top: 30px; } }
  .at-content__primary, .at-content__block {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2; }
  .at-content__secondary, .at-content__sidebar {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }

.error-404 h1 {
  font-size: 8rem;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #7CC6F2; }

.admin-bar .at-search.open {
  margin-top: 32px; }

.admin-bar .modal {
  margin-top: 32px;
  height: calc(100% - 32px); }

html {
  font-size: 16px; }

body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  letter-spacing: 0.02em; }

a {
  color: #333;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in; }

a:hover, a:focus, a:active {
  color: #6C6463;
  text-decoration: none;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

img {
  width: 100%; }

p {
  font-size: 16px;
  line-height: 2.2; }

.at-container {
  max-width: 1540px;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto; }

.at-icon--sm {
  font-size: 1rem; }

.at-icon--md {
  font-size: 2rem; }

.at-icon--lg {
  font-size: 4rem; }

.at-icon--xl {
  font-size: 6rem; }

.at-icon--md {
  width: 1.4rem;
  height: 1.4rem; }

/* Modal CSS */
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before {
  content: "\2715";
  font-size: 32px;
}

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  height: calc(100% - 120px);
  color: rgba(0,0,0,.8);
}

.modal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0,0,0,.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}

@keyframes mmfadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes mmfadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(-10%); }
  to { transform: translateY(0); }
}

@keyframes mmslideOut {
  from { transform: translateY(0); }
  to { transform: translateY(-15%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}
